<head>
<title>{{ entry.title }} | {{ siteName }}</title>

</head>
<body>





{% block content %}



{% if entry is defined %}

{% set title = entry.title %}
{% set website = entry.website %}
{% set googlePlaceId = entry.googlePlaceId %}
{% set body = entry.body %}
{% set beers = entry.beer %}
{% set mapsApiKey = 'AIzaSyDNmUyYDB1BitLY4N6XgahIngoY3RTN-ck' %}
<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}&libraries=places"></script>


	<h1> {{ title }}</h1>
	<hr>
<p><a href="{{ website }}">Visit {{ website }}</a>
<p>{{ body }}</p>


{% for category in craft.categories.group('beerCategory') %}

    {% for beer in beers.relatedTo(category) %}
    <h3>{{ category.title }}</h3>
        <li>
            <span>{{ beer.beerName }}</span> <span>{{ beer.beerPercentage }}%</span>
        </li>
    {% endfor %}

{% endfor %}


<p>{{ googlePlaceId }}</p>

<div id="service-helper">asd</div>

<script type="text/javascript">
    

   function getRelevantGoogleReviews(){
     var service = new google.maps.places.PlacesService($('#service-helper').get(0)); // note that it removes the content inside div with tag '#service-helper'

     service.getDetails({
         placeId: 'ChIJAwEf5VFQqEcRollj8j_kqnE'  // get a placeId using https://developers.google.com/places/web-service/place-id
        }, function(place, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
              var resultcontent = '';
              for (i=0; i<place.reviews.length; ++i) {
                //window.alert('Name:' + place.name + '. ID: ' + place.place_id + '. address: ' + place.formatted_address);
                resultcontent += '<li class="reviews__item">'
                resultcontent += '<div class="reviews__review-er">' + place.reviews[i].author_name + '</div>';
                var reviewDate = new Date(place.reviews[i].time * 1000);
                var reviewDateMM = reviewDate.getMonth() + 1;
                var reviewDateFormatted = reviewDate.getDate() + '/' + reviewDateMM + '/' + reviewDate.getFullYear(); 
                resultcontent += '<div class="reviews__review-date">' + reviewDateFormatted + '</div>';
                resultcontent += '<div class="reviews__review-rating reviews__review-rating--' + place.reviews[i].rating +'"></div>';
                if (!!place.reviews[i].text){
                  resultcontent += '<div class="reviews__review-comment">' + place.reviews[i].text + '</div>';
                }
                resultcontent += '</li>'
              }
              $('#reviews__content').append(resultcontent);
              console.log(resultcontent)
            }
        });

    }
</script>
<script type="text/javascript">
    window.onload = getRelevantGoogleReviews();
</script>


</body>
{% endif %}
{% endblock %}